.positioning-container {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
}
@media (max-width: 576px) {
  .positioning-container {
    bottom: -10px;
  }
}
.wave-svg {
  width: 100vw;
  overflow: visible;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count: infinite;
  fill: #fff;
}

#wave2 {
  animation-duration: 5s;
  animation-direction: reverse;
  opacity: 1;
}
@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}
