/* .wave-container {
  background-color: rgba(0, 0, 0, 0);

 transform: translateY(-60%);
}*/
.positioning-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.wave-svg {
  width: 100vw;
  overflow: visible;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count: infinite;
  fill: #fff;
}

#wave2 {
  animation-duration: 5s;
  animation-direction: reverse;
  opacity: 1;
}
@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}
